/Windows用/.vs/Windows用/v15/
Windows用/.vs/Windows用/v15/Browse.VC.db
Windows用/.vs/Windows用/v15/ipch/AutoPCH/1e02ac84ef914d02/PLAYER.ipch
Windows用/.vs/Windows用/v15/ipch/AutoPCH/3a530efe98e39a0f/BACKGROUND.ipch
Windows用/.vs/Windows用/v15/ipch/AutoPCH/58573c93f558623a/MAIN.ipch
Windows用/.vs/Windows用/v15/ipch/AutoPCH/6c3b1030352f53f1/APPLE.ipch
Windows用/.vs/Windows用/v15/ipch/AutoPCH/7fa73f2800189814/TOUCH.ipch
Windows用/.vs/Windows用/v15/ipch/AutoPCH/9805776d81401178/CAMERA.ipch
Windows用/.vs/Windows用/v15/ipch/AutoPCH/9dac10c01b3f7b07/GAME.ipch
Windows用/.vs/Windows用/v15/ipch/AutoPCH/d4891f038c4f0dcf/SCENE.ipch
Windows用/.vs/Windows用/v15/ipch/AutoPCH/e7a648293a1ebdeb/GAMEPLAY.ipch
Windows用/.vs/Windows用/v15/ipch/AutoPCH/f51166fe7d5a66e7/DUST.ipch

.vs/
Debug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
*.db
*.obj
*.obj
*.obj
*.pdb
*.tlog
*.lastbuildstate
*.obj
*.log
